html {
    height: 100%;
}
@font-face {
    font-family: 'yozai';
    src: url("../Yozai-Regular.ttf");
}
@font-face {
    font-family: 'LXGW WenKai';
    src: url("../LXGWWenKai-Regular.ttf");
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0%;
    font-family: yozai;  
    background-image: url(../圖片/平溪線歷史背景.png)
}

.banner {
    width: 100%;
    height: 12%;
    background-color: #fffffff6;
    position: fixed;
    box-shadow:2px 2px 4px 2px #e9e9e9;
}

.nav {
    text-align: center;
    text-indent: 60px;
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-top: 15px;
    margin-left: 220px;

}

.nav img {
    width: 40px;
    height: 40px;

}

a {
    text-decoration: none;
    color: #333;
}

#train {
    width: 64px;
    height: 80px;
    margin-left: 80px;
    margin-top: 15px;
    float: left;
}

h1 {
    float: left;
    font-size: 56px;
    margin-top: 19px;
    margin-left: 15px;
}

p{
    font-family: LXGW WenKai;
}

#title:hover {
    text-shadow: 1px 2px 2px rgb(0, 0, 0);
    color: black;
}

a:hover {
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    color: #00c0b2;
}

.rail{
    background-image: url(../圖片/鐵軌背景圖\ 2.png);
    background-repeat: no-repeat;
    width: 96%;
    height: 20%;
    /* margin-top: 6.3%; */
    margin-top: -9.3%;
    margin-left: 2%;
    border-radius: 20px;
    float: left;
    z-index: 9999;
}
.btn:hover {
    transform: scale(1.2);
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    background-color: #004b54;
    color: #fff;
    border: 3px solid #fff;
}
.icon {
    float: left;
    width: 65px;
    height: 65px;
    margin-top: 75px;
    margin-left: 6%;
}

.btn {
    float: left;
    width: 90px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    line-height: 35px;
    font-family: yozai;
    border: 3px solid #333;
    margin-top: 15px;
    margin-left: -80px;
}
#icon1 {
    margin-left: 140px;
}

#bluetrain{
    position: fixed;
    margin-top: 55px;
    margin-left: 15px;
    width: 630px;

}

#yellowtrain{
    float: left;
    margin-top: 265px;
    margin-left: 37px;
    width: 1825px;
}
#station{
    width: 610px;
    height: 110px;
    float: left;
    margin-top: 100px;
    margin-left: 650px;
}

.pic{
    float: left;
}

.content h1{
    float: left;
    font-size: 2.5rem;
}

.text{
    float: left;
    font-weight: bold;
    font-size: 1.5rem;
}

#pic1{
    margin-top: -450px;
    margin-left: 950px;
}
#pic2{
    margin-top: -550px;
    margin-left: 210px;
}
#pic3{
    margin-top: 330px;
    margin-left: -100px;
}
#pic4{
    margin-top: -480px;
    margin-left: 250px;
}
#pic5{
    margin-top: 150px;
    margin-left: -230px;
}
#pic6{
    margin-top: -350px;
    margin-left: 250px;
}

#text1{
    margin-top: 220px;
    margin-left: 250px;
    background-color: #ffffff81;
    border-radius: 20px;
    width: 893px;
    height: 402px;
 
}
#text2{
    margin-top: 220px;
    margin-left: 630px;
    background-color: #ffffff81;
    border-radius: 20px;
    width: 984px;
    height: 456px;

}
#text3{
    margin-top: 180px;
    margin-left: 210px;
    background-color: #ffffff9f;
    border-radius: 20px;
    width: 941px;
    height: 462px;
}
#text4{
    margin-top: 220px;
    margin-left: 660px;
    background-color: #ffffff81;
    border-radius: 20px;
    width: 920px;
    height: 348px;
}
#text5{
    margin-top: 400px;
    margin-left: 300px;
    background-color: #ffffff88;
    border-radius: 20px;
    width: 920px;
    height: 267px;
}
#text6{
    margin-top: 290px;
    margin-left: 720px;
    background-color: #ffffffbe;
    border-radius: 20px;
    width: 875px;
    height: 435px;
}

#title1{
    color: #015eac;
    font-weight: bold;
    margin-top: -360px;
    margin-left: 460px;
}
#title2{
    margin-top: -300px;
    margin-left: 420px;
    color: #09a1f6;
    font-size: 1.9rem;
    font-weight: bold;
}
#title3{
    color: #015eac;
    margin-top: -420px;
    margin-left: 1110px;
}
#title4{
    color: #015eac;
    margin-top: -320px;
    margin-left: 340px;
}
#title5{
    color: #015eac;
    margin-top: 250px;
    margin-left: 1160px;
}
#title6{
    color: #015eac;
    margin-top: -340px;
    margin-left: 450px;
}
#title7{
    color: #015eac;
    margin-top: 310px;
    margin-left: 250px;
}

footer{
    background-image: url(../圖片/頁尾背景圖.png);
    background-repeat: no-repeat;
    width: 96%;
    height: 170px;
    margin-top: 100px;
    margin-bottom: -500px;
    margin-left: 2%;
    float: left;
}
#copyright{
    margin-top: 90px;
    margin-left: 30px;  
}
#wechat{
    float: left;
    margin-top: -50px;
    margin-left: 800px;
    width: 30px;
    height: 30px;
}
#twitter{
    float: left;
    margin-top: -50px;
    margin-left: 850px;
    width: 30px;
    height: 30px;
}

#line{
    float: left;
    margin-top: -50px;
    margin-left: 900px;
    width: 30px;
    height: 30px;
}

#ig{
    float: left;
    margin-top: -50px;
    margin-left: 950px;
    width: 30px;
    height: 30px;
}

#fb{
    float: left;
    margin-top: -50px;
    margin-left: 1000px;
    width: 30px;
    height: 30px;
}

#footertrain{
    width: 64px;
    height: 80px;
    float: left;
    margin-top: -100px;
    margin-left: 1650px;
}

#fixedTop {
    padding: 15px 20px;
    background-color: #91d14e;
    border-radius: 100%;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    /* 固定位置 */
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: none;
    z-index: 9999;
}  